.container {
    display: block;
  }
  .owner {
    //width: 400px;
    height: 100px;
    clear: both;
    float: right;
    padding: 5px;
    border-radius: 10px;
    background-color: #426ef0;
    //width: fit-content;
  }
  .friend {
    width: 400px;
    height: 100px;
    clear: both;
    float: left;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(240, 255, 247);
    width: fit-content;
  }
  

